/*Custom Styles for Spike Lawn Care*/

/*FONTS*/

/*GLOBAL*/

.btn{
    border-radius: 0;
    transition: all ease-in .2s;
    background: #3695c4;
    border: 1px solid #3eabe0;
}

/*NAVIGATION*/
.navbar {
    border-radius: 0 !important;
    min-height: 110px;
}

.navbar-brand {
    height: 75px;
    padding-top: 5px;
    line-height: 14px;
}

.navbar-brand small {
  display:block;
  font-size:12px;
}

.navbar-toggle {top:10px}

@media (min-width:768px) {
  
  .navbar-brand {
    padding-top:20px;
  }
  
  .nav.navbar-nav a {
    padding-top:30px;
    padding-bottom:30px;
  }

}

/*HEADER*/


/*SLIDER*/

.slide-1{
    background: url('../img/slide1.jpg') no-repeat top center;
    
}

.slide-2{
    background: url('../img/slide2.jpg') no-repeat top center;
}


/*========================
    HOME PAGE STYLES
==========================*/
/*HOME BODY*/




/*========================
    ABOUT PAGE STYLES
==========================*/
/*ABOUT BODY*/




/*========================
    SERVICES PAGE STYLES
==========================*/
/*SERVICES BODY*/




/*========================
    CONTACT PAGE STYLES
==========================*/
/*CONTACT BODY*/
